<div id="users-index">
  <ul>
    <% @users.each do |user| %>
      <li class="user-card">
        <img src="<%= user.photo %>" alt="User photo">
        <div class="user-info">
          <h2><%= link_to user.name, user_path(user) %></h2>
          <p> Number of posts: <%= user.posts_counter %></p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
