<%= render 'shared/main_navbar' %>

<div id="posts-show">
  <%= link_to "Back to posts", user_posts_path, class: 'btn-back' %>

  <div class="post">
    <%= display_post(@post, author: true) %>
  </div>

  <div class="post-comments">
    <%= display_comment(@post) %>
  </div>
</div>
