/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(20, 121, 216);
}

a:hover,
a:active {
  color: skyblue;
}

form.button_to button.btn-like {
  margin: 1.6rem 0 0.4rem;
}

a.link-new-comment,
form.button_to button.btn-like {
  padding: 0.4rem 1rem;
  background-color: grey;
  color: yellow;
  border: solid 0.2rem black;
  border-radius: 1rem;
  font-size: 1.4rem;
  display: inline-block;
  cursor: pointer;
}

form.button_to button[type=submit]::before {
  content: '👍';
  padding-right: 0.7rem;
}

.link-new-comment::before {
  content: '✏️';
  padding-right: 0.7rem;
}

.no-comments {
  padding-left: 1rem;
  font-weight: bold;
}
