#users-show {
  margin-top: 5vh;
  width: 60vw;

  a.btn-back {
    position: absolute;
    font-size: 1.6rem;
    top: 1rem;
    left: 1rem;

    &::before {
      content: '⬅️';
      padding-right: 1rem;
    }
  }

  .user-card {
    display: flex;
    margin-bottom: 3.2rem;
    gap: 4rem;

    > img {
      width: 128px;
      height: 128px;
      transform: scale(1.1);
    }
  }

  .user-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    border: solid 0.3rem black;

    h2 {
      align-self: center;
      font-size: 4rem;
      font-weight: bold;
    }

    p {
      align-self: flex-end;
      font-size: 2rem;
    }
  }

  .link-new-post {
    display: block;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .user-bio {
    padding: 1rem;
    border: solid 0.3rem black;
    font-size: 1.6rem;
    margin-bottom: 3.2rem;

    .section-title {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

  .user-posts {
    .post {
      border: solid 0.3rem black;
      padding: 1rem 1rem 2rem;
      font-size: 1.6rem;
      margin-bottom: 1.6rem;
      position: relative;

      .post-title {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 2.4rem;
      }

      .post-id {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.4rem;
        color: blue;
      }

      .post-info {
        position: absolute;
        bottom: 0.3rem;
        right: 1rem;
        font-size: 1.2rem;
      }
    }

    &-more {
      text-align: center;

      button {
        background-color: white;
        padding: 0.5rem;
        font-weight: bold;
        box-shadow: 0.4rem 0.4rem 0.3rem black;
        transition: box-shadow 0.05s;

        &:active {
          box-shadow: none;
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
