#users-show {
  margin-top: 5vh;
  width: 60vw;
}

#users-show .user-card {
  display: flex;
  margin-bottom: 3.2rem;
  gap: 4rem;
}

#users-show .user-card > img {
  transform: scale(1.1);
}

#users-show .user-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
  border: solid 0.3rem black;
}

#users-show .user-info h2 {
  align-self: center;
  font-size: 4rem;
  font-weight: bold;
}

#users-show .user-info p {
  align-self: flex-end;
  font-size: 2rem;
}

#users-show .user-bio {
  padding: 1rem;
  border: solid 0.3rem black;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

#users-show .user-bio .section-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#users-show .user-posts .post {
  border: solid 0.3rem black;
  padding: 1rem 1rem 2rem;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  position: relative;
}

#users-show .user-posts .post .post-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.4rem;
}

#users-show .user-posts .post .post-id {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  color: blue;
  cursor: pointer;
}

#users-show .user-posts .post .post-info {
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
  font-size: 1.2rem;
}

#users-show .user-posts-more {
  text-align: center;
}

#users-show .user-posts-more button {
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  box-shadow: 0.4rem 0.4rem 0.3rem black;
  transition: box-shadow 0.05s;
}

#users-show .user-posts-more button:active {
  box-shadow: none;
}

#users-show .user-posts-more button a {
  text-decoration: none;
  color: black;
}
