#posts-new {
  text-align: center;

  a.btn-back {
    position: absolute;
    font-size: 1.6rem;
    top: 1rem;
    left: 1rem;

    &::before {
      content: '⬅️';
      padding-right: 1rem;
    }
  }

  h2 {
    margin-top: 10rem;
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }

  form {
    > div {
      display: flex;
      justify-content: space-between;
      width: 60vw;
      margin: 0 auto;
      margin-bottom: 3.2rem;

      .form-label {
        width: 20%;
        font-size: 1.6rem;
        align-self: center;
      }

      input[type=text].form-control,
      textarea.form-control {
        width: 80%;
        display: block;
        padding: 1rem;

        &.form-control-textarea {
          height: 15rem;
        }
      }
    }

    input[type=submit] {
      background-color: white;
      padding: 0.5rem;
      font-weight: bold;
      box-shadow: 0.4rem 0.4rem 0.3rem black;
      transition: box-shadow 0.05s;

      &:active {
        box-shadow: none;
      }
    }
  }
}
