$posts-index-margin-top: 5vh;
$posts-index-width: 60vw;

#posts-index {
  margin-top: $posts-index-margin-top;
  width: $posts-index-width;

  .user-card {
    display: flex;
    margin-bottom: 3.2rem;
    gap: 4rem;

    > img {
      transform: scale(1.1);
    }
  }

  .user-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    border: solid 0.3rem black;

    h2 {
      align-self: center;
      font-size: 4rem;
      font-weight: bold;
    }

    p {
      align-self: flex-end;
      font-size: 2rem;
    }
  }

  .link-new-post {
    display: block;
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .user-posts {
    .post {
      border: solid 0.3rem black;
      padding: 1rem 1rem 2rem;
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      position: relative;

      .post-title {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 2.4rem;
      }

      .post-id {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.4rem;
        color: blue;
        cursor: pointer;
      }

      .post-info {
        position: absolute;
        bottom: 0.3rem;
        right: 1rem;
        font-size: 1.2rem;
      }
    }

    .post-comments {
      border: solid 0.3rem black;
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
      padding: 1rem 0;

      li {
        position: relative;
        padding: 0 1rem;

        .author-name {
          font-weight: bold;
          color: blue;
          cursor: pointer;
        }

        .comment-body {
          font-style: italic;
        }

        .comment-id {
          position: absolute;
          right: 1rem;
          color: blue;
          cursor: pointer;
        }
      }
    }

    .user-posts-more {
      text-align: center;

      button {
        background-color: white;
        padding: 0.5rem;
        font-weight: bold;
        box-shadow: 0.4rem 0.4rem 0.3rem black;
        transition: box-shadow 0.05s;

        &:active {
          box-shadow: none;
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
