#posts-show {
  margin-top: 5vh;
  width: 60vw;
}

#posts-show .post {
  border: solid 0.3rem black;
  padding: 1rem 1rem 2rem;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  position: relative;
}

#posts-show .post .post-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.4rem;
  display: inline-block;
}

#posts-show .post .post-id {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  color: blue;
  cursor: pointer;
}

#posts-show .post .post-author {
  font-weight: bold;
  color: blue;
  font-size: 2rem;
}

#posts-show .post .post-info {
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
  font-size: 1.2rem;
}

#posts-show .post-comments {
  border: solid 0.3rem black;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  padding: 1rem 0;
}

#posts-show .post-comments li {
  position: relative;
  padding: 0 1rem;
}

#posts-show .post-comments .author-name {
  font-weight: bold;
  color: blue;
  cursor: pointer;
}

#posts-show .post-comments .comment-body {
  font-style: italic;
}

#posts-show .post-comments .comment-id {
  position: absolute;
  right: 1rem;
  color: blue;
  cursor: pointer;
}
