#devise-login {
  text-align: center;

  a.btn-back {
    position: absolute;
    font-size: 1.6rem;
    top: 1rem;
    left: 1rem;

    &::before {
      content: '⬅️';
      padding-right: 1rem;
    }
  }

  h2 {
    margin-top: 10rem;
    font-size: 2.4rem;
    margin-bottom: 3.6rem;
  }

  form {
    > div {
      display: flex;
      justify-content: center;
      width: 40vw;
      margin-bottom: 3.2rem;
      gap: 2rem;

      label {
        width: 30%;
        font-size: 1.6rem;
        align-self: center;
      }

      input[type=email],
      input[type=password] {
        width: 70%;
        display: block;
        padding: 1rem;
      }
    }

    input[type=submit] {
      background-color: white;
      padding: 0.5rem;
      font-weight: bold;
      box-shadow: 0.4rem 0.4rem 0.3rem black;
      cursor: pointer;
      transition: box-shadow 0.05s;

      &:active {
        box-shadow: none;
      }
    }
  }
}
